<html>
<head>
</head>
<body>

    <a href="/">Home</a>
    <h1>Vs Graphs | About</h1>


    Input a term and see related terms displayed graphically. This is useful for exploring a new field, finding alternative tools, or simply entertainment. 

    <h2>How it works</h2>

    <p>It's a simplified version of what is described here in 

    <a href="https://medium.com/applied-data-science/the-google-vs-trick-618c8fd5359f">this article by David Foster</a>. In short, it uses the Google autocomplete API to append "vs" after your term and auto complete the top matches. It does some cleaning to remove duplicates.</p>

    <p>It uses a force directed network graph based on the D3 examples <a href="https://bl.ocks.org/heybignick/3faf257bbbbc7743bb72310d03b86ee8"> here</a>. The rest of the site looks like sh*t partly for reasons similar to <a href="https://pbs.twimg.com/media/C2nlzLqWIAADP5i?format=jpg&name=medium">this</a> but mainly because of reasons similar to <a href="http://motherfuckingwebsite.com/">this.</a></p>

    

    <p>Shout out to <a href="https://anvaka.github.io/vs/?query=bloom%20filter">this GitHub repository by Anvaka</a> which implements something very similar but which I only discovered afterwards.
    </p>

        <p>You can find the source code <a href="https://repl.it/@GarethDwyer1/google-vs-graphs-dev">here on Repl.it</a> where this project is also hosted.
    </p>

    <p>Built by <a href="https://ritza.co">ritza.co</a>. Feel free to reach out if you want to chat about creating content for software engineers hosted on your company's blog or technical community.</p>
</body>


</html>